* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

a:hover {
  color: #ef8026;
}

button {
  background-color: #fff;
  cursor: pointer;
}

/* Header */
nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  padding:  5% 0 5% 0;
}

.logo img {
  width: 50%;
}

.list-links{
  display: none;
}

.hamburger {
  padding: 2% 2% 1% 2%;
  border: #1c2544 1px solid;
  border-radius: 8px;
}

/* Installations */
.installations-container {
  display: flex;
  flex-direction: column;
  padding: 5%;
  color: #7c8a9e;
}

/* Return Page */
.return-container {
  display: flex;
  justify-content: flex-end;
}

.return-container button {
  display: flex;
  align-items: center;
  border: none;
  font-size: x-small;
  color: #7c8a9e;
}

.return-container button img {
  width: 20px;
  padding-right: 5%;
}

/* Container Information */
.container-information-title {
  width: 50%;
  padding-bottom: 5%;
}

.paragraph2 {
  padding: 5% 0 5% 0;
}

/* Container Images */
.images-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Services */
.services-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Cards */
.card {
  box-shadow: 7px 7px 15px #1c2544; 
  width: 200px;
  height: 100px;
  padding: 5%;
  margin-bottom: 5%;
}
.card a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card img {
  width: 60px;
  padding-bottom: 5%;
}

.card h2 {
  color: #1c2544;
  font-size: medium;

}

@media only screen and (min-width: 481px) {
  /* Header */
  .hamburger {
    display: none;
  }

  nav {
    display: flex;
    justify-content: flex-start;
    background-color: #1c2544;
  }

  .logo {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #fff;
    width: 30%;
    padding: 1%;
  }

  .logo img {
    width: 70%;
  }

  .list-links {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 80%;
    padding-right: 2%;
  }

  .list-links li {
    padding-right: 3%;
    font-size: xx-small;
  }

  .facebook img,
  .instagram img {
    height: 20px;
  }

  .facebook {
    padding-right: 1%;
  }

  .instagram {
    border-left: 1px solid #fff;
    padding-left: 1%;
  }
}

@media only screen and (min-width: 768px) {
  /* Header */
  .list-links li {
    padding-right: 2%;
    font-size: x-small;
  }
  
  .facebook img,
  .instagram img {
    height: 25px;
  }

  /* Installations */
  .installations-content {
    display: flex;
    flex-direction: row;
    padding-right: 5%;
  }

  /* Container information */
  .container-information {
    padding: 2% 5% 5% 5%;
  }

  /* Return Page */
  .return-container {
    padding-right: 5%;
  }
}

@media only screen and (min-width: 1024px) {
  /* Header */
  .list-links li {
    font-size: medium;
  }

  /* Return Page */
  .return-container button {
    font-size: small;
  }

  .return-container button img {
    width: 30px;
  }
}
