* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  transition: all 0.8s ease-out;
}

a:hover {
  color: #ef8026;
}

button {
  background-color: #fff;
  cursor: pointer;
  border: none;
}

.card:hover,
.card_home:hover {
  transition: all 0.8s ease-out;
  background-color: #1c2544;
}

.card:hover h3,
.card_home:hover h3 {
  color: #fff;
  transition: all 0.8s ease-out;
}


.button_history:hover {
  -webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
  box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
}

.button_history a:hover {
  color: #1c2544;
}

.contact-facebook:hover img,
.contact-instagram:hover img,
.contact_button:hover,
.logo-header:hover,
.schedule-appointment img:hover {
  opacity: 0.3;
}

.return-container p:hover {
  color: #ef8026;
  transition: all 0.8s ease-out;
  font-size: medium;
}

hr {
  width: 0.1vw;
  height: 3vh;
  background-color: #fff;
  border-color: transparent;
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  z-index: 10;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  padding:  5% 0 5% 0;
}

.icon-contact a img,
.logo img {
  width: 50%;
}

.list-links{
  display: none;
}

.hamburger {
  padding: 2% 2% 1% 2%;
  border: #1c2544 1px solid;
  border-radius: 8px;
}

/* ok Home */
.container_top_home {
  background-image: url(./assets/home/frontImage.png);
  background-size: auto 50%;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
}

.container_cards_home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 10%;
  padding: 10% 10% 0 10%;
}

.container_top_home_black {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(28,37,68, 0.6);
  color: #fff;
  height: 70px;
  width: 150px;
  font-size: x-small;
  padding: 5%;
}

.container_top_home_black p span {
  font-weight: bold;
}

.container_top_home_black button {
  background-color: #ef8026;
  padding: 4%;
  font-size: xx-small;
  margin-top: 10%;
  width: 60%;
}

.container_contact_home {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5%;
  padding: 5%;
}

.container_home_bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
}

.container_home_bottom div img {
  width: 100%;
}

.container_home_title_paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5%;
  color: #fff;
  background-color: #1c2544;
  font-size: smaller;
}

.orange-line {
  width: 100%;
  height: 5px;
  background-color: #ef8026;
}

/* ok Whatsapp Button */
.contact_button {
  display: flex;
  width: 140px;
  padding-left: 5%;
  padding-bottom: 5%;
}

/* Installations */
.installations-container {
  display: flex;
  flex-direction: column;
  padding: 11% 5% 5% 5%;
  color: #7c8a9e;
}

.container-images-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.arrow-images {
  height: 30px;
}

.information-paragraph {
  padding-bottom: 20px;
}


/* Return Page */
.return-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2%;
}

.return-container button {
  display: flex;
  align-items: center;
  border: none;
  font-size: x-small;
  color: #7c8a9e;
  background-color: transparent;
}

.return-container button img {
  width: 20px;
  padding-right: 5%;
}

.front-page-history-container div {
  padding: 1%;
  height: 5%;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95%;
  font-size: 2rem;
  font-weight: bold;
  color: #1c2544;
}

/* Container Information */
.container-title {
  display: flex;
  padding-bottom: 3%;
  align-items: center;
}

.subTitle-admission,
.subTitle-information {
  font-size: medium;
  font-weight: bold;
  color: #ef8026;
  padding-bottom: 2%;
  padding-top: 1%;
}

.paragraph2 {
  padding: 5% 0 5% 0;
}

/* Title */
.icon-title {
  display: flex;
  width: 40px;
  height: 40px;
  padding-right: 2%;
}

.hide {
  display: none;
}

.title {
  font-size: x-large;
  font-weight: bold;
  color: #1c2544;
}

.title-orange {
  color: #ef8026;
}

/* Container Images */
.images-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.photos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding-top: 5%;
}

/* Services */
.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  margin-top: 100px;
}

.contact-container,
.home-container {
  padding-top: 100px;
}

/* Cards */
.card_home,
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  box-shadow: 7px 7px 15px #1c2544; 
  background-color: #fff;
  width: 140px;
  height: 140px;
  padding: 5%;
  margin-bottom: 5%;
  cursor: pointer;
}

.card_home {
  position: relative;
  width: 70px;
  height: 70px;
}

.card img {
  width: 55px;
  padding-bottom: 5%;
}

.card_home img {
  position: absolute;
  width: 25px;
  top: 5%;
  left: 5%;
}

.card_home h3,
.card h3 {
  color: #1c2544;
  font-size: medium;
  text-align: center;
}

.card_home h3 {
  font-size: xx-small;
}

/* Specialties */
.list-information {
  display: flex;
  flex-direction: column;
  list-style-type: disc;
  padding-left: 5%;
  padding-bottom: 5%;
}

.list-information li::marker {
  color: #ef8026;
}

.list-information li {
  padding-bottom: 2%;
}

/* Care and Protection*/
.schedule-appointment {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.schedule-appointment img {
  width: 100%;
}

/* Contact*/
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-content-left {
  padding: 5%;
  width: 100%;
}

.contact-content-right {
  display: flex;
  width: 100%;
}

.contact-list-icons {
  width: 5%;
  height: 5%;
  padding-right: 2%;
}

.contact-list li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0 5% 5%;
}

.contact-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 0 0 5% 5%;
}

.facebook-instagram-container {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 15px;
  padding-left: 5%;
}

.contact-facebook img,
.contact-instagram img {
  width: auto;
  height: 30px;
}


.title-level3 {
  color: #1c2544;
}

/* Admission page */
.company-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logo-icon {
  width: 50%;
  padding: 5%;
}

/* Our History page */
.history-mission-vision-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 13%;
  padding: 5%;
}

.mission-vision-container {
  display: flex;
  flex-direction: column;
}

.mission-vision {
  display: flex;
  padding: 2%;
}

.mission-vision img {
  padding-right: 5%;
  width: 50px;
  height: 50px;
}

.paragraph-container {
  padding: 0 5% 5% 5%;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1c2544;
  padding: 5%;
  color : #fff;
}

.title-level3-white {
  color : #fff;
  font-size: smaller;
}

/* Footer */
.footer_contact {
  display: none;
}

.footer_logo_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-footer {
  width: 50%;
}

.history-mission-vision-container img {
  width: 50%;
}

@media only screen and (min-width: 481px) {
  /* Header */
  .hamburger {
    display: none;
  }

  nav {
    display: flex;
    justify-content: flex-start;
    background-color: #1c2544;
  }

  .logo {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #fff;
    width: 25%;
    padding: 1%;
  }

  .logo img {
    width: 70%;
  }

  .list-links {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 80%;
    padding-right: 2%;
  }

  .list-links li {
    padding-right: 3%;
    font-size: xx-small;
  }

  .facebook img,
  .instagram img {
    height: 20px;
  }

  .facebook {
    padding-right: 1%;
  }

  .instagram {
    border-left: 1px solid #fff;
    padding-left: 1%;
  }

  /* ok Home*/
  .contact_button {
    width: 180px;
  }

  .card_home h3 {
    font-size: x-small;
  }

  /* Care and Protection*/
  .schedule-appointment {
    display: flex;
  }

  .schedule-appointment button {
    width: 60%;
    border: none;
  }

  .schedule-appointment button img {
    width: 100%;
  }

  /* Contact*/
  .contact-container {
    align-items: start;
  }
  .contact-facebook img,
  .contact-instagram img {
    width: auto;
    height: 18px;
  }

  h1 {
    font-size: 3rem;
  }

  .history-mission-vision-container img {
    width: 40%;
  }

  .mission-vision img {
    width: 70px;
    height: 70px;
  }
}

@media only screen and (min-width: 768px) {
  .front-page-history-container {
    background-image: url(./assets/history/historyPhoto.png);
    background-size: cover;
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* Header */
  .list-links li {
    padding-right: 2%;
    font-size: x-small;
  }
  
  .facebook img,
  .instagram img {
    height: 25px;
  }

  /* Home */
  .container_cards_home {
    column-gap: 3%;
  }

  .card_home img {
    width: 25%;
  }

  .contact_button {
    width: 200px;
  }

  .card_home h3 {
    font-size: small;
  }

  .container_top_home {
    background-size: auto 80%;
  }

  .container_home_bottom div {
    display:flex;
    flex-direction: row;
  }

  .container_home_bottom div img {
    width: 50%;
  }

  .container_home_title_paragraph {
    display: flex;
    flex-direction: column !important;
  }

  .container_home_box {
    display: flex;
    flex-direction: column !important;
  }

  /* Title */
  .icon-title {
    width: 50px;
    height: 50px;
  }

  /* Installations */
  .title-orange {
    font-size: 1.8rem;
  }

  /* Installations */
  .installations-content {
    display: flex;
    flex-direction: row;
  }

  /* Container information */
  .container-information {
    width: 40%;
    padding: 0% 5% 5% 5%;
  }

  /* Container Images */
  .images-container {
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 5%;
    width: 50%;
  }

  /* Return Page */
  .return-container {
    padding-right: 5%;
  }

  /* Services */
  .services-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2%;
  }

  /* Cards */
  .card {
    margin: 3%;
  }

  .card img {
    width: 60px;
  }

  /* Contact*/
  .contact-container {
    flex-direction: row;
  }

  .contact-content-left {
    padding: 3%;
  }

  .contact-content-right {
    display: flex;
    width: 50%;
  }

  .contact-logo {
    width: 50%;
    height: auto;
    padding: 0 0 5% 5%;
  }

  /* Admission Page*/
  .company-logos, 
  .subTitle-admission {
    padding-left: 5%;
  }

  .company-logos {
    width: 90%;
    padding-bottom: 2%;
  }

  /* Plans Page*/
  .plans-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2%;
  }

  /* Footer */
  .footer_contact {
    display: flex;
  }

  .footer_contact li {
    padding: 0;
    font-size: small;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3% 5% 3% 5%;
  }

  .footer_logo_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-facebook img,
  .contact-instagram img {
    width: auto;
    height: 30px;
  }

  .history-mission-vision-container {
    column-gap: 5%;
  }

  .mission-vision-container img {
    height: 70px;
    width: 70px;
  }

  .history-mission-vision-container {
    flex-direction: row;
  }

  .mission-vision img {
    width: 80px;
    height: 80px;
  }
}

@media only screen and (min-width: 1024px) {
  /* Header */
  .list-links li {
    font-size: medium;
  }

  /* ok Home */
  .container_top_home {
    position: relative;
    background-size: 100%;
  }

  .container_home_bottom {
    padding: 0 10% 10% 10%;
  }

  .container_cards_home {
    padding: 27% 10% 0 10%;
  }

  .container_top_home_black {
    position: absolute;
    top: 15%;
    width: 250px;
    font-size: medium;
    padding: 5% 1% 5% 10%;
  }

  .container_top_home_black button {
    font-size: small;
  }

  /* Whatsapp Bottom */
  .contact_button {
    width: 300px;
  }

  /* Return Page */
  .return-container button {
    font-size: small;
  }

  .return-container button img {
    width: 30px;
  }

  /* Services */
  .services-container {
    padding: 5%;
  }

  /* Cards */
  .card {
    width: 100px;
    height: 100px;
    margin: 3%;
  }

  .card img {
    width: 60px;
    padding-bottom: 10%;
  }

  /* List information */
  .list-information {
    display: block;
    column-count: 2;
    padding: 5%;
  }

  .list-information li {
    padding-bottom: 5%;
  }

  /* Title */
  .icon-title {
    width: 60px;
    height: 60px;
  }

  /* Footer */
  footer {
    padding: 3% 10% 3% 10%;
  }

  .card_home h3 {
    font-size: medium;
  }

  h1 {
    font-size: 4rem;
  }

  .history-mission-vision-container img {
    width: 25%;
  }

  .mission-vision img {
    width: 100px;
    height: 100px;
  }
}
